.footer {
  padding: 2rem 0;
  background-color: $color-dark-grey-3;
  font-size: 1.4rem;
  color: $color-dark-grey-background;

  // @include respond(tab-port) {
  //   padding: 1rem 0;
  // }

  &__nav {
    @include respond(tab-port) {
      // width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-dark-grey-background;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $primary-color;
    }
  }

  &__copyright {
    @include respond(tab-port) {
      text-align: center;
      margin-bottom: -1rem;
    }
  }
}
