/* ABOUT US */
.section-about {
  padding-bottom: 20rem;

  // @include respond(tab-port) {
  //   padding-bottom: 15rem;
  // }
}
.secondary-heading h2 {
  text-align: center;
}

/* FEATURE */
.section-features {
  padding: 10rem 0;
  background-color: #f2f2f2;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-features a {
  display: block;
  margin: auto 0;
}

.section-team {
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-contact {
  padding: 5rem 0;
  background-color: #f2f2f2;
}
